extends common/layout

include common/mixins

mixin name()
    p

block vars
    - var title = "Title - index" //120 символов
    - var bodyClass = "wrap_this_page"

block content
    main
        h1 Mini template
        +name(
        )

    //include header/header