script(src='js/jquery/jquery-3.3.1.min.js')
script(src='js/animate/animate-css.js')
script(src='js/bootstrap4/bootstrap.min.js')
script(src='js/bootstrap4/popper.min.js')
script(src='js/fontawesome-pro-5.0.8/fontawesome-all.min.js')
script(src='js/modernizr/modernizr-custom.js')
script(src='js/owlcarousel2/owl.carousel.min.js')
script(src='js/scrollmagic/ScrollMagic.min.js')
script(src='js/scrollmagic/debug.addIndicators.min.js')
script(src='js/tweenmax/TweenMax.min.js')
script(src='js/wowjs/wow.min.js')

script(src='js/main.min.js')
